__pycache__/
.vscode/
.DS_Store
ui/assets/
ui/frame_cache/
ui/results/
ui/test_sample/
results/
frame_cache/
test_sample/
pretrained_models/
data/
notebooks/
.venv
venv310/
.venv310/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
.pyre/
